<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout::head}"></head>

<nav th:replace="~{fragments/layout::navigation}"></nav>

<body>
    <div class="container">
        <div class="card my-5">
            <div class="card-header">
                <h2 class="text-center">Welcome to Teaching Assistants Management System</h2>
            </div>
        </div>
        <!-- <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div> -->
        <!-- Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div> -->
    </div>
    <div th:replace="~{fragments/layout::bootstrap-script}"></div>
</body>

</html>